[Unit]
Description=Impulse UDP Receiver
After=network.target

[Service]
User=soda1adm1n
WorkingDirectory=/srv/impulse
ExecStart=/srv/impulse/venv/bin/python -m receiver.udp_listener
Restart=always

[Install]
WantedBy=multi-user.target