[Unit]
Description=Impulse Dashboard (Flask + Socket.IO)
After=network.target

[Service]
User=soda1adm1n
WorkingDirectory=/srv/impulse
Environment="PATH=/srv/impulse/venv/bin"
ExecStart=/srv/impulse/venv/bin/python dashboard/app.py
Restart=always

[Install]
WantedBy=multi-user.target